# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# Postgres
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=

# Drizzle ORM - Supabase 대시보드 > Project Settings > Database > Connection string (Transaction pooler) 에서 복사
DATABASE_URL=


# Storage
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=

# Gemini AI
GEMINI_API_KEY=
GEMINI_MODEL=

# 현수막 중복 임계치
UPLOAD_DUPLICATE_THRESHOLD_PERCENT=
